<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="list.css">
  <title>List</title>
 </head>
 <body>
 
 <header>
 <div>
 <a href="main.html"><img class="logo" src="котята.jpg" alt="Логотип" /></a>
 <a href="profile.html"><img class="prof" src="Account-User-PNG-Clipart.png" alt="Профиль" /></a>
 </div>
 </header>
 
 <main>
 <div class="container">
 <div class="stroka">
  <img class="globus" src="524-5249374_earth-planet-shape-svg-png-icon-free-download.png" alt="Глобус" />
 <div class="block">
 <h3>10:05</h3>
 <p>Минск</p>
 <p>5 мар, ср</p>
 </div> 
  <div class="block-1">
 <h4>MSQ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1ч25м&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DME</h4>
 </div>
  <div class="block">
 <h3>11:30</h3>
 <p>Москва</p>
 <p>5 мар, ср</p>
 </div>
  <button class="baton" type="button" onclick="document.location='order.html'">От 38.03$</button>
 </div>
 
 <div class="stroka">
  <img class="globus" src="524-5249374_earth-planet-shape-svg-png-icon-free-download.png" alt="Глобус" />
  <div class="block">
 <h3>10:05</h3>
 <p>Минск</p>
 <p>5 мар, ср</p>
 </div> 
  <div class="block-1">
 <h4>MSQ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1ч25м&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DME</h4>
 </div>
  <div class="block">
 <h3>11:30</h3>
 <p>Москва</p>
 <p>5 мар, ср</p>
 </div>
 <button class="baton" type="button" onclick="document.location='order.html'">От 38.03$</button>
 </div>
 
 <div class="stroka">
  <img class="globus" src="524-5249374_earth-planet-shape-svg-png-icon-free-download.png" alt="Глобус" />
  <div class="block">
 <h3>10:05</h3>
 <p>Минск</p>
 <p>5 мар, ср</p>
 </div> 
  <div class="block-1">
 <h4>MSQ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1ч25м&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DME</h4>
 </div>
  <div class="block">
 <h3>11:30</h3>
 <p>Москва</p>
 <p>5 мар, ср</p>
 </div>
  <button class="baton"  type="button" onclick="document.location='order.html'">От 38.03$</button>
 </div>
 
 <div class="stroka">
  <img class="globus" src="524-5249374_earth-planet-shape-svg-png-icon-free-download.png" alt="Глобус" />
  <div class="block">
 <h3>10:05</h3>
 <p>Минск</p>
 <p>5 мар, ср</p>
 </div> 
  <div class="block-1">
 <h4>MSQ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1ч25м&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DME</h4>
 </div>
  <div class="block">
 <h3>11:30</h3>
 <p>Москва</p>
 <p>5 мар, ср</p>
 </div>
  <button class="baton" type="button" onclick="document.location='order.html'">От 38.03$</button>
 </div>
 
 </div>
 </main>
 
 <footer>
 <p class="pavline">Pavline - Perfect Avia Line</p>
 </footer>
 
 </body>
</html>