body {
    overflow: hidden;
}

header {
	background-color: DeepSkyBlue;
	padding: 5px;	
}

.shapka {
	display: flex;
	flex-direction: row;
}

.logo {
	height: 50px;
	width: 200px;
}

.cabinet {
	color: white;
	width: 90%;
	text-align: center;
	margin-left: -10%;
	margin-top: 20px;
}

.vixod {
	display: flex;
}

.vihod {
	background-color: DeepPink;
	color: white;
	border: 0px;
	height: 30%;
	border-radius: 8px;
	font-size: 15px;	
}

main {
	background-color: Gainsboro;	
	padding: 5px;
	display: flex;
	justify-content: center;
}

.container {
	background-color: white;
	box-sizing: border-box;
	border: 2px solid DeepPink;
	border-radius: 40px;
	height: 500px;
	width: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-1 {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.profil {
	height: 200px;
	width: 200px;
	float: left;
}
  
.container-2 {
	height: 40%;
	width: 70%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 20px;
}

h3 {
	margin: 0px;
}

.container-3 {
	box-sizing: border-box;
	border: 2px solid DeepPink;
	border-radius: 30px;
	height: 55%;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}    

.stroka {
	display: flex;
	flex-direction: row;
	height: 26%;
	box-sizing: border-box;
	width: 90%;
	border: 2px solid DeepPink;
	border-radius: 20px;
	margin-top: 15px;
}

.globus {
	height: 93%;
	width: 14%;
	background-color: DeepPink;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	padding: 3px;
	margin-right: 20px;
}

.block {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.block-1 {
	display: flex;	
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

h4 {
	margin: 0px;
	color: DeepPink;
}

.block > p {
	margin: 0px;
	color: gray;
	font-size: 13px;
}

footer {
	background-color: MidnightBlue;	
}

.pavline {
	text-align: center;
	margin: 0;	
	color: white;
}