<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="order.css">
  <title>Order</title>
 </head>
 <body>
 
 <header>
 <div>
 <a href="list.html"><img class="logo" src="котята.jpg" alt="Логотип" /></a>
 <a href="profile.html"><img class="prof" src="Account-User-PNG-Clipart.png" alt="Профиль" /></a>
 </div> 
 </header>
 
 <main>
 <div class="container">
 <div class="stroka">
 <img class="globus" src="524-5249374_earth-planet-shape-svg-png-icon-free-download.png" alt="Глобус" />
 <div class="block">
 <h3>10:05</h3>
 <p>Минск</p>
 <p>5 мар, ср</p>
 </div> 
  <div class="block-1">
 <h4>MSQ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1ч25м&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DME</h4>
 </div>
  <div class="block">
 <h3>11:30</h3>
 <p>Москва</p>
 <p>5 мар, ср</p>
 </div>
 </div>
 <div class="container-1">
 <div class="container-2">
 <div class="container-4">
 <h3>БАГАЖ</h3>
 <img class="bagah" src="249-2492316_suitcase-bag-carry-on-luggage-comments-baggage.png" alt="Багаж" />
 <div class="container-6">
 <input class="checkbox" type="checkbox">
 <h4>+20.00$</h4>
 </div>
 </div>
 <div class="container-5">
  <h3>РУЧНАЯ КЛАДЬ</h3>
  <img class="bagah" src="154-1545396_management-consulting-work-bag-icon-png.png" alt="Ручная кладь" />
  <div class="container-6">
  <input class="checkbox" type="checkbox">
  <h4>+0.00$</h4>
  </div>
 </div>
 </div>
 <div class="container-3">
 <h3>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</h3>
 <div class="container-7">
 <div class="container-8">
 <input class="checkbox-1" type="checkbox" >
 </div>
 <div class="container-9">
 <p></p>
 </div>
 <div class="container-10">
 <h5>+0.00$</h5>
 </div>
 </div>
  <div class="container-7">
  <div class="container-8">
 <input class="checkbox-1" type="checkbox" >
 </div>
 <div class="container-9">
 <p></p>
 </div>
 <div class="container-10">
 <h5>+0.00$</h5>
 </div>
 </div>
  <div class="container-7">
  <div class="container-8">
 <input class="checkbox-1" type="checkbox" >
 </div>
 <div class="container-9">
 <p></p>
 </div>
 <div class="container-10">
 <h5>+0.00$</h5>
 </div>
 </div>
  <div class="container-7">
  <div class="container-8">
 <input class="checkbox-1" type="checkbox" >
 </div>
 <div class="container-9">
 <p></p>
 </div>
 <div class="container-10">
 <h5>+0.00$</h5>
 </div>
 </div>
 <div class="container-11">
 <h3>ИТОГО: 0.00$</h3>
 </div>
 </div>
 </div>
 <button class="baton" type="button">ЗАКАЗАТЬ СЕЙЧАС ЗА 58.03$</button>
 </div>
 </main>
 
 <footer>
 <p class="pavline">Pavline - Perfect Avia Line</p>
 </footer>
 
 </body>
</html>