<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="main.css">
  <title>Main</title>
 </head>
 <body>
 
 <header>
 <div> 
 <img class="logo" src="котята.jpg"/>
 <a href="profile.html"><img class="prof" src="Account-User-PNG-Clipart.png" alt="Профиль" /></a>
 </div>
 <div class="baton">
 <button class="button-poisk" type="button" onclick="document.location='list.html'">Поиск</button> 
 </div>
 </header>
 <main>
 <div class="lenta">
 <img class="len" src="котята.jpg" alt="Фотография">
 </div>
 </main>
 <footer>
 <p class="pavline">Pavline - Perfect Avia Line</p>
 </footer>
 </body>
</html>